{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if product %}Edit Product{% else %}Add Product{% endif %} - VIDHIM ENTERPRISES Billing System{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>
                    {% if product %}
                        <i class="fas fa-edit"></i> Edit Product
                    {% else %}
                        <i class="fas fa-plus"></i> Add New Product
                    {% endif %}
                </h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'product_list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back to List
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> 
                            {% if product %}Update Product{% else %}Add Product{% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
